<?xml version="1.0" encoding="UTF-8"?>

<suite name="PractiseProject" allow-return-values="true"
    verbose="10">

 <listners>
  <listner  class ="com.utilities.reporting" />
  </listners>
  <test name="Test">
  
    <classes>
      <class name="com.testcases.TC_Logout_002"/>
      <class name="com.testcases.TC_scolldownopenpost"/>
      <class name="com.testcases.TC_Login_001"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
